.employeeCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .menuIcon {
    position: absolute;
    right: 14px;
    top: 14px;
    cursor: pointer;
    color: #3f3a4b;
    z-index: 999;
    font-size: 16px;
  }

  img {
    width: 85px;
    height: 85px;
    border-radius: 50px;
    margin-top: 24px;
    object-fit: cover;
  }

  &_info {
    .title {
      margin: 0 !important;
      color: #3f3a4b;
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      white-space: nowrap;
    }

    .designation {
      color: grey;
      font-size: 14px;
      font-weight: 700;
      white-space: nowrap;
      text-align: center;
    }
  }

  &_toolTip {
    position: absolute !important;
    right: -2px;
    top: 28px;
    padding: 2px 0px !important;
    background-color: white !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 120px !important;
    z-index: 99;

    div {
      width: 100%;
      cursor: pointer;
      margin: 2px 0 !important;
      transition: 0.3ms ease;
      padding: 5px 8px;
    }

    div:hover {
      background-color: lightblue;
    }
  }
}
