.employee {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;

  &_topBar {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .left {
      .head {
        color: #1f1f1f;
        font-weight: bold;
        font-size: 28px;
        padding: 0px 8px;
      }

      p {
        color: #3c4246;
        font-size: 20px;
        font-weight: 600;
        margin: 8px 0px;
      }

      span {
        color: #808184;
        font-weight: 700;
      }
    }

    .right {
      .fa-solid {
        color: #888888;
      }

      button {
        margin: 0px 10px;
        padding: 10px 14px;
        background-color: white;
        outline: none;
        border: 1px solid rgba(173, 169, 169, 0.719);
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
      }

      .active {
        color: #1f1f1f;
        font-weight: bold;
      }

      .addEmployee {
        background-color: #ff9b44;
        color: white;
        border-radius: 30px;
        font-size: 16px;
        padding: 12px 14px;
        font-weight: bold;
        border: none;
        outline: none;
        transition: 0.3s ease;
      }

      .addEmployee:hover {
        background-color: #f78c2f;
      }

      .fa-plus {
        color: white;
        margin: 0px 4px;
      }
    }
  }

  &_searchBar {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    align-items: center;
    padding: 10px 0;

    div {
      margin: 0px 14px;

      input,
      select,
      button {
        width: 98%;
      }

      input {
        padding: 20px 10px;
        border-radius: 2px;
        outline: none;
        border: none;
      }

      input::placeholder {
        color: rgba(177, 174, 174, 0.623);
        font-weight: bold;
      }

      select {
        padding: 20px 10px;
        border-radius: 2px;
        outline: none;
        border: none;
        transition: 0.3ms ease;
      }

      option:hover {
        background-color: yellow;
      }

      button {
        background-color: #55ce63;
        border: none;
        outline: none;
        padding: 16px 10px;
        border-radius: 2px;
        color: white;
        transition: 0.3ms ease;
        cursor: pointer;
        font-size: 20px;
      }

      button:hover {
        background-color: #49ca58;
      }
    }
  }

  &_cardsBar {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    align-items: center;
    padding: 10px 0;
    margin: 0px 2px;

    div {
      margin: 10px 14px;
      padding: 0px 10px;
      background: white;
      position: relative;
      cursor: pointer;
    }
  }
}

@media (max-width: 800px) {
  .employee_cardsBar {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
}

@media (max-width: 550px) {
  .employee_topBar {
    display: flex;
    justify-content: space-between;
  }

  .employee_topBar .left .head {
    text-align: center;
    padding: 0px 8px;
  }

  .right {
    margin: 5px 0px;
  }

  .employee_searchBar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .employee_searchBar div {
    margin: 10px 1px;
  }

  .selectWrap {
    width: 98%;
  }

  .searchBtn {
    width: 98%;
  }

  .employee_cardsBar {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    align-items: center;

    div {
      margin: 10px 0px;
    }
  }
}

@media (max-width: 400px) {
  .employee_searchBar {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .employee_topBar .right .addEmployee {
    margin: 10px 0px;
  }
}
