.projectCard {
  background-color: #ffffff !important;
  padding: 2px 0 !important;
  position: relative;
  display: flex;
  flex-direction: column;

  &_menu {
    position: absolute !important;
    right: -30px;
    top: -10px;
    cursor: pointer !important;
    width: 40px !important;

    .fa-solid {
      color: grey;
    }
  }

  &_toolTip {
    position: absolute !important;
    right: -14px;
    top: 23px;
    padding: 2px 0px !important;
    background-color: white !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 120px !important;
    z-index: 99;

    div {
      width: 100%;
      cursor: pointer;
      margin: 2px 0 !important;
      transition: 0.3ms ease;
      padding: 5px 8px;
    }

    div:hover {
      background-color: lightblue;
    }
  }

  &_top {
    display: flex;
    flex-direction: column;
    position: relative;

    .head {
      margin: 2px 0;
      color: #464746;
      font-size: 18px;
      font-weight: bold;
    }

    .para {
      color: #a19d99;
      font-weight: 400;
      margin: 4px 0;
    }

    .threeDots {
      position: absolute;
      right: 6px;
      top: 5px;
      color: grey;
      font-size: 15px;
      cursor: pointer;
    }
  }

  &_description {
    padding: 2px 2px;
    word-wrap: break-word;
    position: relative !important;
    top: -14px;

    p {
      margin: 0;
      color: #a19d99;
      font-size: 14px;
      font-weight: 700;
    }
  }

  &_deadline {
    display: flex;
    flex-direction: column;

    .head {
      margin: 0;
      color: #40484c;
      font-size: 20px;
      font-weight: 600;
    }

    .date {
      margin: 0;
      color: #9991a3;
      font-size: 15px;
      font-weight: 600;
    }
  }

  &_projectLeader {
    display: flex;
    flex-direction: column;

    .head {
      margin: 0;
      color: #4f4f4f;
      font-weight: 500;
      font-size: 18px;
    }

    img {
      width: 30px;
      height: 30px;
      border-radius: 50px;
      margin: 0 2px;
    }

    .wrapper {
      display: flex;
      position: relative;
      left: -24px;
    }
  }

  &_team {
    display: flex;
    flex-direction: column;

    .head {
      margin: 0;
      color: #4f4f4f;
      font-weight: 500;
      font-size: 18px;
    }

    img {
      width: 30px;
      height: 30px;
      border-radius: 50px;
      margin: 0px 2px;
    }

    .wrapper {
      display: flex;
      position: relative;
      left: -24px;
    }
  }

  &_progress {
    display: flex;
    flex-direction: column;
    position: relative;

    .wrapper {
      display: flex;
      position: relative;
      left: -18px;

      p {
        margin: 0;
        color: #40484c;
        font-weight: 500;
      }

      .percentage {
        color: #198754;
        font-weight: 700;
      }
    }

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .percentage {
      position: relative;
      left: 10px;
    }
  }

  &_progressBar {
    width: 90%;
    height: 20px;
    position: relative;
    left: -10px;
    top: -15px;
  }
}
