* {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7f7;
}

.wrapper {
  width: 100%;
  position: relative;
}

// Component
@import "./Style/Employee.scss";
@import "./Style/EmployeeCard.scss";
@import "./Style/AddEmployee.scss";
@import "./Style/EmployeeTable.scss";
@import "./Style/ViewProfileDetail.scss";
@import "./Style/ProjectCard.scss";
@import "./Style/AddProject.scss";

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
